/* library vars */

/* brand typsetting */
@font-face {
    font-family:'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url('../fonts/dm-fonts/Sans/fonts/webfonts/DMSans-Regular.woff2') format('woff2'),
        url('../fonts/dm-fonts/Sans/fonts/otf/DMSans-Regular.otf') format('opentype'),
        url('../fonts/dm-fonts/Sans/fonts/ttf/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:  url('../fonts/dm-fonts/Sans/fonts/webfonts/DMSans-Medium.woff2') format('woff2'),
        url('../fonts/dm-fonts/Sans/fonts/otf/DMSans-Medium.otf') format('opentype'),
        url('../fonts/dm-fonts/Sans/fonts/ttf/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family:'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:  url('../fonts/dm-fonts/Sans/fonts/webfonts/DMSans-SemiBold.woff2') format('woff2'),
        url('../fonts/dm-fonts/Sans/fonts/otf/DMSans-SemiBold.otf') format('opentype'),
        url('../fonts/dm-fonts/Sans/fonts/ttf/DMSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family:'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/dm-mono/exports/DMMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'DM Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/dm-mono/exports/DMMono-Medium.ttf') format('truetype');
}

/* localized cc sprite names */
:root {
    --cc-by: url('../../src/svg/cc/icons/cc-icons.svg#cc-by');
    --cc-nc: url('../../src/svg/cc/icons/cc-icons.svg#cc-nc');
    --cc-nd: url('../../src/svg/cc/icons/cc-icons.svg#cc-nd');
    --cc-pd: url('../../src/svg/cc/icons/cc-icons.svg#cc-pd');
    --cc-pdm: url('../../src/svg/cc/icons/cc-icons.svg#cc-pdm');
    --cc-sa: url('../../src/svg/cc/icons/cc-icons.svg#cc-sa');
    --cc-zero: url('../../src/svg/cc/icons/cc-icons.svg#cc-zero');
}

.icon-attach.cc-by:before {
    --icon-sprite: var(--cc-by);
    margin-right: .2em;
    margin-bottom: -.125em;
}

.icon-attach.cc-nc:before {
    --icon-sprite: var(--cc-nc);
    margin-right: .2em;
    margin-bottom: -.125em;
}

.icon-attach.cc-nd:before {
    --icon-sprite: var(--cc-nd);
    margin-right: .2em;
    margin-bottom: -.125em;
}

.icon-attach.cc-pd:before {
    --icon-sprite: var(--cc-pd);
    margin-right: .2em;
    margin-bottom: -.125em;
}

.icon-attach.cc-pdm:before {
    --icon-sprite: var(--cc-pdm);
    margin-right: .2em;
    margin-bottom: -.125em;
}

.icon-attach.cc-sa:before {
    --icon-sprite: var(--cc-sa);
    margin-right: .2em;
    margin-bottom: -.125em;
}

.icon-attach.cc-zero:before {
    --icon-sprite: var(--cc-zero);
    margin-right: .2em;
    margin-bottom: -.125em;
}


.icon-replace.fa-search {
    --icon-sprite: var(--fa-search);
}

.icon-replace.fa-angle-down:before {
    --icon-sprite: var(--fa-angle-down);
}

.icon-replace {
    text-indent: -5000px;
}

/* needs a rework to not break focus indicator */
